* {
  box-sizing: border-box;
}

html {
  /* quy đổi 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ===== Common ===== */
a {
  text-decoration: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}

.btn {
  display: inline-block;
  min-width: 118px;
  border-radius: 24.5px;
  background: #171100;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
  padding: 0 10px;
}

/* ===== End common ===== */

/*----------------------------------
# Header
-----------------------------------*/
.header {
  /* background: violet; */

}

.header.fixed {
  position: sticky;
  top: 0;
}

.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0 8px;
}

.header__navbar {
  margin-left: auto;
}

.header__list {
  display: flex;
  min-width: 359px;
  gap: 42px;
}

.header__link {
  position: relative;
  color: #5f5b53;
  text-align: center;
  font-size: 1.6rem;
  padding: 8px 0;
}

.header__link:hover,
.header__active {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor; /* thay cho fw=600 để k bị giật*/
}

.header__active .header__link::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  bottom: 6px;
  left: 0;
}

.header__cta {
  margin-left: 70px;
}

.header__sign-up {
  min-width: 144px;
}

/* ===== end header ===== */
